.faq {
    width: 100%;
    margin: 50px auto;
}

.question {
    font-size: 23px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    color: #9e0f0f;
}

.answer {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;  
    color: #9e0f0f;
}