.container {
    width: 220px;
    height: auto;   
    border-bottom:3px solid transparent;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}

.active{
    border-bottom: 3px solid rgba(158, 15, 15,);
}

.container:hover {
    border-bottom: 3px solid rgba(158, 15, 15,);
}

.Image {
    width: 100px;
    height: 80px;
    
}

.serviceText {
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #9e0f0f;
}
