.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    margin-top: 50px;
    width: 100%;
    height: 785px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    color: #9e0f0f;
}

.address {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; 
    color: #9e0f0f;
}